.dashboard {
  height: 100%;
  width: 100%;
  display: flex;
}

.dashboard__sidebar {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-width: 150px;

  background-color: var(--color-green);
  border-right: 1px solid var(--color-grey);
}

.dashboard__container {
  text-align: center;
  flex-grow: 1;
}

.dashboard__toolbar {
  background-color: var(--color-green);
  width: 100%;
  height: 50px;

  border-bottom: 2px solid var(--color-grey);
}

.dashboard__list {
  display: grid;
  padding: 10px;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.dashboard__card {
  border: 1px solid var(--color-grey);
  background-color: var(--color-yellow);
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in,
    box-shadow 0.2s ease-in;
  box-shadow: 5px 5px;

  display: flex;
  flex-direction: column;
  border-radius: 20px;

  padding: 10px 10px 20px;
}

.dashboard__card:hover {
  cursor: pointer;
  background-color: var(--color-green);

  box-shadow: 1px 1px;
  transform: scale(1.1);
}

.dashboard__btn {
  padding: 10px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 10px;
  color: var(--color-grey);
  border-right: none;
  border-bottom: none;
  border-left: 1px solid var(--color-grey);
  border-top: 1px solid var(--color-grey);
  background-color: var(--color-yellow);

  position: sticky;
  top: 0;

  border-radius: 10px;
  box-shadow: 5px 5px var(--color-grey);
  transition: font-size 0.2s ease-in;
}

.dashboard__btn:hover {
  cursor: pointer;
  font-size: 1.5rem;
}
